@model IEnumerable<WebApplication2018222012_CÜ.Models.Product>

@{
    ViewBag.Title = "list";
}

<h2>list</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Productname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductImg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Productname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductImg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Productshow", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
